@page
@using BorodaikevychZodiac.Models
@model IndexModel
@{
  ViewData["Title"] = "Zodiac";
}

  <div>
    <div id="person-list-placeholder">
      <partial name="PersonListPartial" />
    </div>
    <div id="add-person-modal-placeholder"></div>
    <div id="edit-person-modal-placeholder"></div>
  </div>