@page
@using BorodaikevychZodiac.Models
@model IndexModel
@{
  ViewData["Title"] = "Zodiac";
}

<div>
  <h1 class="text-center display-1">List of Persons</h1>
  <div id="person-list-placeholder">
    <partial name="PersonListPartial" model="Model.PersonList"/>
  </div>
  <div id="add-person-modal-placeholder"></div>
  <div id="edit-person-modal-placeholder"></div>
</div>