@model List<BorodaikevychZodiac.Models.PersonModel>
<span class="btn-group">
  <button type="button" class="btn btn-sm btn-danger" data-toggle="remove-filter-person-list" data-url="@Url.Page("Index", "RemoveFilter")">
    <i class="fas fa-filter"></i>
  </button>
  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </button>
  <span class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-url="@Url.Page("Index", "ApplyFilter")">
    @{
      HashSet<(string name, string emoji)> signs = new HashSet<(string, string)>(Model.Select(p => p.WesternZodiacSign));
      foreach (var (name, emoji) in signs)
      {
        <a class="dropdown-item" data-toggle="apply-filter-person-list" href="#">@($"{name} {emoji}")</a>
      }
    }
  </span>
</span>